html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 150px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
.livestream {
  height: 100%;
}

.header {
  font-size: 2vh;
}

#joystickContent {
  cursor: pointer;
  height: 200px;
  width: 150px;
  margin: auto;
}

.center {
  position: relative;
  width: 100%;
}

#stop {
  width: 125px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* 
.btn {
  background: #454545;
  background-image: -webkit-linear-gradient(top, #454545, #2e2e2e);
  background-image: -moz-linear-gradient(top, #454545, #2e2e2e);
  background-image: -ms-linear-gradient(top, #454545, #2e2e2e);
  background-image: -o-linear-gradient(top, #454545, #2e2e2e);
  background-image: linear-gradient(to bottom, #454545, #2e2e2e);
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
} */

